/* Styling for body */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #dfe6e9;
    font-size: 16px;
  }
  /* styling for the elment with class display-3 & lead in side header  */
  .display-3,
  .lead {
    text-align: center;
  }
  /* styling for display message todo item saved */
  .display-msg {
    width: 400px;
    text-align: center;
    margin: auto;
  }
  /* div class for displaying time on the screen */
  .py-3 {
    font-weight: bold;
  }
  /* div class container-fluid px-5 */
  .px-5 {
    padding-bottom: 10px;
  }
  /* styling for text area for user input */
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  /* styling for inside text area with description */
  .description {
    white-space: pre-wrap;
  }
  /* styling for the each div with class time-block which shows the time and user input */
  .time-block {
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(53, 51, 51);
    border-top: 1px solid white;
    margin-bottom: 10px;
  }
  /* styling for div with class hour to show hours */
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  /* styling for the past hours */
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  /* styling for the present hour */
  .present {
    background-color: #ff6961;
    color: white;
  }
  /* styling for the future hours */
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  /* styling for the save button */
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  /* hover pseudo class styling for the button icon */
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  /*  hover pseudo class styling for the whole button */
  .saveBtn:hover {
    border: 2px solid #06aed5;
    background-color: white;
  }
  /* styling for the clear button */
  .clearBtn {
    background-color: #06aed5;
    border: 2px black solid;
    border-radius: 5px;
    color: white;
    width: 300px;
  }
  /* hover pseudo class styling for the clear button */
  .clearBtn:hover {
    background-color: #77dd77;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 575px) {
    h1.display-3 {
      font-size: 25px;
      font-weight: bold;
    }
    .description {
      text-align: center;
    }
  
    .saveBtn {
      border-left: 1px solid black;
      border-radius: 15px;
      background-color: #06aed5;
      color: white;
    }
    .row {
      margin-bottom: 10px;
    }
    .lead {
      font-size: 16px;
    }
    .display-msg {
      width: 300px;
      text-align: center;
      margin: auto;
    }
  }